<%= stylesheet_link_tag 'new.sessions', :media => "all" %>
<div>
  <%= image_tag 'new.sessions_photo.jpg',class:'new_session'%>   
  
  
  <h1>俺の球場飯！　～神宮球場グルメ紹介～</h1>

  <br>
  <h2>ログイン</h2>
  <div class="touroku">
    <p>※登録したメールアドレスとパスワードを入力してください。</p>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <h2>メール </h2><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <h2>パスワード </h2><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <h2>私を覚える</h2>
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
      <p><%= render "users/shared/links" %>
    </div>
  <% end %>
</div>
