<%= stylesheet_link_tag 'show', :media => "all" %>
<div>
  <%= image_tag 'show_photo.jpg',class:'l'%>

    <header>
      <h1>俺の球場飯！　～神宮球場グルメ紹介～</h1>
      <div class="header-list2">
      <ul>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <%= link_to "ホームへ", foods_index_path %>
        <%= link_to "球場飯投稿へ", new_tweet_path %>
        <%= link_to "試合日程を確認する！", schedules_path %>
      </ul>
    </header>
    
    <br>

    <div class="n">
    <h2>球場飯を検索</h2>
      <%= form_tag({controller:"tweets",action:"show"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する'  %>
        <p>※検索時、数字は半角で入力してください<p>
      <% end %>
    </div>

    <br>
    <br>


    <h2>球場飯詳細・商品評価</h2>
    <div class="tweets-container3">
      <div class="tweet3">
        <p><%= image_tag @tweet.image_url, size: "300x240" if @tweet.image? %><p>
        <p><%= @tweet.body %><p>
        <p><%= @tweet.shop %>
        <%= @tweet.place %>
        <%= @tweet.food %>
        <%= @tweet.price %>
        <div>
        <h2>総合評価：
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(@tweet.taste) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span> 
        </h2>
        </div>
        <div>
        <h2>味：
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(@tweet.overall) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>
        <div>
        <h2>量：
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(@tweet.originality) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>
        <div>
        <h2>待ち時間：
        <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(@tweet.wait) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>

      </div>
    </div>


    <h3>口コミ</h3>
    <div class="comment-wrapper">
      
      <% @comments.each do |c| %>
        <div>
          <%= c.user.name unless c.user.blank? %>
          <br>
          <%= c.content %>
        </div>
          <br>
      <% end %>
    </div>

        <br>
        <div class="field2">
          <% if user_signed_in? %>
            <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
              <%= f.text_field :content %>
              <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
              <% end %>
            <% end %>
          <% end %>
        </div>
    
    <div class="q">
    <%= link_to "球場飯一覧に戻る", tweets_path %>
    <%#<%= link_to "編集する", edit_tweet_path(@tweet.id) %>
    </div>
</div>  