<p id="notice"><%= notice %></p>

<p>
  <strong>開始時刻</strong>
  <%= @schedule.title %>
</p>

<%#<p>
  <strong>時間</strong>
  <%= @schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>限定球場飯</strong>
  <%= @schedule.content %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>